* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAV BAR */

nav {
    background: #809A6F;
    height: 95px;
    max-width: 100rem;
    margin-inline: auto;
    margin-bottom: 10px;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: sans-serif;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li i {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul li {
    width: 120px;
    float: none;
    display: list-item;
    position: relative;
    list-style: none;
    background-color: #30475E;
}

nav a:hover {
    background: #6D8B74;
    color: #FFFFFF;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:1224px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li {
        font-size: 16px;
    }
}

@media (max-width:938px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        z-index: 10;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li i {
        font-size: 20px;
    }
    a:hover {
        background: #6D8B74;
        color: #FFFFFF;
    }
    #check:checked~ul {
        left: 0;
    }
}


/* SECTION */

section .container {
    background-color: #FFFFFF;
}

section .details_1 {
    background: url(Images/image//BG-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 1rem;
}

section .details_1 {
    text-align: center;
    padding-top: 200px;
    color: #24A19C;
    align-items: center;
}

section h1 {
    font-size: 90px;
    font-weight: bolder;
    background-color: #F9F3EE;
    color: #112B3C;
    margin: 5px 0;
    opacity: .8;
}

section h1:hover {
    opacity: 1;
    background-color: #F9F3EE;
    color: #112B3C;
}


/* section .details_1 h3 {
    font-size: 40px;
    background-color: #1B1A17;
    width: 50%;
    margin: auto;
    color: #F2F2F2;
}

.title_details {
    font-size: 25px;
    background-color: #1B1A17;
    width: 30%;
    margin: auto;
    color: #F2F2F2;
    padding: 5px;
} */


/* ARTICLE */

article {
    margin: 20px;
}

article .features {
    padding: 10px;
}

article .container {
    background-color: #F7F7F7;
}

article img {
    width: 100px;
    border: 1px solid #DAB88B;
    border-radius: 50%;
    object-fit: cover;
}

article .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}


/* MAIN */

.container {
    background-color: #F7F7F7;
}

main h5 {
    background-color: #14C38E;
    margin-bottom: 25px;
    padding: 15px;
    font-family: sans-serif;
    font-weight: 800;
    margin-top: 20px;
}

main .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

.image {
    /* background-color: #D0C9C0; */
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
    padding: 0;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.image img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    object-fit: cover;
}

.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #DA1212;
    width: 100%;
    height: 100%;
    transition-property: transform;
}

.more {
    position: absolute;
    background: #14C38E;
    width: 100%;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}


/* END OF MAIN */


/* Main media query */

@media (max-width: 1000px) {
    .image {
        flex: 100%;
        max-width: 480px;
    }
}


/* End of media query */


/* Start of price */

section .shop {
    text-align: center;
    margin: auto;
}

.price .row {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    /* height: 350px; */
}

.img-price {
    /* background-color: #14C38E; */
    padding: 0;
    height: 300px;
    width: 400px;
    margin: 0;
}

.price-print img {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 100px 0 100px;
}

section button {
    background-color: #36AE7C;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 19px;
    width: 160px;
}

section button .slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

section i {
    margin-left: 8px;
}


/* end of price */


/* About us */

.vertical {
    border-left: 1.5px solid #D0C9C0;
    height: 100%;
    color: #ffff;
}

.about-us {
    background-color: #417D7A;
    padding: 50px;
    height: 100%;
    margin-bottom: 20px;
}


/* end of about us */


/* Our team */

section .team {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    opacity: 0.9;
}

section .row {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

section .card {
    border: none;
    background-color: #14C38E;
    padding: 0;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

section .image-team {
    /* background-color: #14C38E; */
    height: 200px;
    padding: 0;
}

section .image-team img {
    height: 100%;
    width: 100%;
}

section .details-team {
    margin: 10px;
}

.card-body button {
    background-color: #4E944F;
    font-weight: 500;
    color: #FFFFFF;
    /* padding: 10px;
    margin: 10px 45px; */
    border-radius: 2rem;
}


/* End of our team */


/* Contact us */

.contact h3 {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.contact .image-contact {
    text-align: center;
}

.contact img {
    width: 100px;
    height: 100px;
}

.contact .card {
    background-color: #F5F5F5;
}

.container .get-in-touch {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.get-in-touch h4 {
    text-align: left;
    margin-left: 10px;
}

.get-in-touch .card {
    width: 500px;
    text-align: center;
    background-color: #F5F5F5;
}

.get-in-touch .message {
    padding: 10px;
}

.get-in-touch .form-control {
    margin: 10px;
}

.get-in-touch .form-group {
    margin-right: 20px;
}

.btn-contact {
    border-radius: 2rem;
}


/* End of contact us */


/* footer */

footer {
    background-color: #1B1A17;
}


/* 1st col footer */

footer img {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    justify-content: center;
}

footer hr {
    color: #FFFFFF;
}

footer .img-footer {
    display: flex;
    justify-content: center;
}

.details-footer {
    color: #FFFFFF;
    text-align: center;
}

.details-footer h5 {
    opacity: .7;
    font-size: 15px;
    font-family: sans-serif
}


/* end of 1st col footer */


/* 2nd col of footer */

footer .soc-med {
    color: #FFFFFF;
    padding: 5px;
}

.soc-med .website,
h3 {
    margin-left: 100px;
    margin-top: 20px;
    opacity: .9;
}

footer .soc-med-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-med-icons i {
    margin: 20px;
    color: white;
}


/* end of 2nd col of footer */